body
{
background-color:#9c9f84;
margin:0px;
font-size:14px;
font-family:Verdana,Georgia,serif;
}

#header
{
background-color:#5c755e;
margin:10px;
height:90px;
border-radius:5px;
}

/*
#navbar                    //Use #navbar ul on its place as given next----------
{
background-color:#5c755e;
margin:10px;
height:35px;
border-radius:5px;
}
*/

#navbar ul
{
background-color:#5c755e;
margin:10px;
padding:10px;
border-radius:5px;
text-align:center;
list-style-type:none;
}

#navbar ul li              /* (#navbar li) also can be used here directly */
{
display:inline;
padding:10px;
}

#navbar ul li a
{
text-decoration:none;
color:black;
background-color:white;
padding:0.2em;
}

#navbar ul li a:hover
{
color:white;
background-color:black;
}

.main
{
background-color:#e5e4d7;
margin-top:10px;
margin-bottom:10px;
margin-left:10px;
margin-right:320px;
padding:20px;
border-radius:5px;
font-size:110%;
}

h1
{
color:red;
font-size:120%
}

h2
{
font-size:120%;
color:darkblue;
}

h3                               /* New Properties added in this block */
{
font-size:250%;
text-align:center;
color:e5e4d7;
margin:0px;                      /*  ------------------  */
position:relative;
top:50%;
-webkit-transform:translateY(-50%);
-ms-transform:translateY(-50%);
transform:translateY(-50%);
}

.sideright
{
background-color:#e5e4d7;
float:right;
width:260px;
padding:20px;
margin-top:0px;
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
border-radius:5px;
clear:right;            /* introduced new prop. here */          
}

.imagesideright
{
float:right;
width:300px; height:340px;
margin-top:0px;          
margin-bottom:10px;
margin-left:10px;
margin-right:10px;
border-radius:5px;
clear:right; 
opacity:1.0;   transition:opacity 1s ease-in-out;      /* introduced new prop. here */            
}

.imagesideright:hover
{
opacity:0.4;
}

#footer
{
background-color:#5c755e;
margin:10px;
height:60px;
border-radius:5px;
clear:both;                     /* introduced new prop. here */
text-align:center;
padding:15px;
font-size:90%;
}